<p style="color: green"><%= notice %></p>
<div class="container">
  <%= render @post %>

  <div>
    <br>
    <div class="btn-group" role="group">
      <%= link_to "Back to posts", posts_path, class:"btn btn-primary" %>
      <%= link_to "Edit this post", edit_post_path(@post), class:"btn btn-warning" %>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-header">
        Danger Zone
      </div>
      <div class="card-body">
        <%= button_to "Destroy this post", @post, class:"btn btn-danger", method: :delete %>
      </div>
  </div>
</div>
